{% extends "AppCoder/padre.html" %}

{% load static %}

{% block dynamicContent %}
</br>

<form action='/AppCoder/busqueda/' method="GET"> {% csrf_token %}
    <legend>Buscar comision</legend>
    <div class="mb-3">
        <label for="nombre" class="form-label">Numero de comision</label>
        <input class="form-control" id='numero' type="number" name="numero"/>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>
</br>
{% if status == 'success'%}
<p style="color:green">Estudiante cargado correctamente </p>
{%endif%}

{% if status == 'error'%}
<p style="color:red">Error al cargar el estudiante  </p>
{%endif%}
</br>
{% endblock %}
