{% extends "AppCoder/padre.html" %}

{% load static %}

{% block dynamicContent %}
</br>

<form action='/AppCoder/busqueda/' method="GET"> {% csrf_token %}
    <legend>Buscar comision</legend>
    <div class="mb-3">
        <label for="comision" class="form-label">Numero de comision</label>
        <input required class="form-control" id='comision' type="number" name="comision"/>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>
</br>
{% if searchStatus == 'error'%}
<p class="lead fw-normal text-white-50 mb-0">No se encontraron resultados para la busqueda</p>
{%endif%}
</br>
{% endblock %}
